{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="uk-card uk-card-body uk-card-secondary uk-width-1-2@m uk-card-hover">
    <h3 class="uk-card-title">Test</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, asperiores vero nulla quos esse iusto sunt officia, cupiditate harum dolorum facere quibusdam nesciunt ad? Laboriosam esse excepturi facilis eum deserunt perferendis molestias!</p>
</div>
{% endblock %}
